* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.main-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: white;
    }
    
    .container {
    width: 400px;
    height: 500px;
    border-radius: 7px;
    box-shadow: 0 6px 12px rgba(179, 179, 179, 0.7);
    z-index: 1;
    overflow: hidden;
    }
    
    form {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px !important;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-evenly;
    }

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}