.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw
}

.pie-chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
