:root {
  --green-color: #cfebe6;
  --blue-color: rgb(57, 35, 252);
  --light-gray: rgb(197, 197, 197);
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
}

.app-main {
  padding: 10px;
  background-color: var(--light-gray);
}
